doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/images/icons/favicon/web/32x32.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
